In [84]:
import pandas as pd
import numpy as np

Import raw data.
Clean up blank lines and lines containing descriptions, legend, etc.

In [85]:
data2021 = pd.read_csv("raw_data/hcny_all_tables_2021.csv", skiprows=4)
data2020 = pd.read_csv("raw_data/hcny_all_tables_2020.csv", skiprows=4)
data2019 = pd.read_csv("raw_data/hcny_all_tables_2019.csv", skiprows=4)
data2018 = pd.read_csv("raw_data/hcny_all_tables_2018.csv", skiprows=4)
data2017 = pd.read_csv("raw_data/hcny_all_tables_2017.csv", skiprows=4)
data2016 = pd.read_csv("raw_data/hcny_all_tables_2016.csv", skiprows=4)

data2021 = data2021[data2021['State'].str.contains('Represents zero') == False]
data2021 = data2021[data2021['State'].str.contains('Less than half') == False]
data2021 = data2021[data2021['State'].str.contains('Tracheal mites') == False]
data2021 = data2021[data2021['State'].str.contains('Includes American') == False]
data2021 = data2021[data2021['State'].str.contains('Includes weather') == False]
data2021 = data2021[data2021['State'].str.contains('Includes data') == False]
data2021 = data2021[data2021['State'].str.contains('Honey Bee Colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Colony Health') == False]
data2021 = data2021[data2021['State'].str.contains('Percent of colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Not applicable') == False]
data2021 = data2021[data2021['State'].str.contains('plus all colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Percent lost') == False]
data2021 = data2021[data2021['State'].str.contains('Defined as any') == False]
data2021 = data2021[data2021['State'].str.contains('Percent renovated') == False]
data2021 = data2021[data2021['State'].str.contains('Colonies, Maximum') == False]
data2021 = data2021[data2021['State'].str.contains('Colonies Lost') == False]
data2021 = data2021[data2021['State'].str.contains('Loss reported') == False]

Drop superfluous index columns.

Get rid of rows with a NaN state.

Set State column as index.

In [86]:
data2021.drop(columns=['5', 'h'], axis=1, inplace=True)
data2021 = data2021[data2021['State'].notna()]
data2021.set_index('State')

,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
State,,,,,,,
Alabama,5500,7000,410,6,1900,780,11
Arizona,29000,31000,8500,27,3000,120,(Z)
Arkansas,16500,16500,1600,10,1800,30,(Z)
California,1350000,1710000,230000,13,240000,66000,4
Colorado,4500,13000,670,5,4000,500,4
...,...,...,...,...,...,...,...
Wisconsin,14.9,17.8,1.1,22.3,1.0,2.0,NaN
Wyoming,8.3,0.9,(Z),6.9,1.5,2.4,NaN
Year,January-March,April-June,July-September,October-December,NaN,NaN,NaN
2020,105240,48270,78190,116910,NaN,NaN,NaN
2021,76930,49620,NaN,NaN,NaN,NaN,NaN

It turns out that each csv file has the full set of the previous year's data and then the first two quarters of the year in the file name. Assuming that the most recent version is the most recently collected and has the most up to date data, we'll keep the most recently collected version.

So, deleting the rows that are the first two quarters of the incomplete year of data, except for the 2021 datasheet, since that will have all the 2020 data, and the first two quarters (all that exists) of the 2021 data. 

The data has to be filled in chunks since the first six columns for all the states are listed for each quarter for 2020, then the first six columns for 2021 in the next set of rows, then the last six columns for all states for 2021, then the last six for 2021.

In [87]:
data2021.insert(1, 'year', np.nan)
last_year_values = {'year': '2020'}
this_year_values = {'year': '2021'}
data2021.fillna(value=last_year_values, limit=191, inplace=True)
data2021.fillna(value=this_year_values, limit=96, inplace=True)
data2021.fillna(value=last_year_values, limit=192, inplace=True)
data2021.fillna(value=this_year_values, limit=96, inplace=True)

data2021.insert(2, 'quarter', np.nan)
values_jan = {'quarter': 'Jan-Mar'}
values_apr = {'quarter': 'Apr-Jun'}
values_jul = {'quarter': 'Jul-Sep'}
values_oct = {'quarter': 'Oct-Dec'}
data2021.fillna(value=values_jan, limit=47, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)
data2021.fillna(value=values_jul, limit=48, inplace=True)
data2021.fillna(value=values_oct, limit=48, inplace=True)
data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)

data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)
data2021.fillna(value=values_jul, limit=48, inplace=True)
data2021.fillna(value=values_oct, limit=48, inplace=True)
data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)

# Set multi-index, partly because doing all the above somehow restored the default numeric index
data2021.set_index(['State', 'year', 'quarter'])

,,,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
State,year,quarter,,,,,,,
Alabama,2020,Jan-Mar,5500,7000,410,6,1900,780,11
Arizona,2020,Jan-Mar,29000,31000,8500,27,3000,120,(Z)
Arkansas,2020,Jan-Mar,16500,16500,1600,10,1800,30,(Z)
California,2020,Jan-Mar,1350000,1710000,230000,13,240000,66000,4
Colorado,2020,Jan-Mar,4500,13000,670,5,4000,500,4
...,...,...,...,...,...,...,...,...,...
Wisconsin,2021,Apr-Jun,14.9,17.8,1.1,22.3,1.0,2.0,NaN
Wyoming,2021,Apr-Jun,8.3,0.9,(Z),6.9,1.5,2.4,NaN
Year,2021,Apr-Jun,January-March,April-June,July-September,October-December,NaN,NaN,NaN
2020,2021,Apr-Jun,105240,48270,78190,116910,NaN,NaN,NaN
2021,2021,Apr-Jun,76930,49620,NaN,NaN,NaN,NaN,NaN

The first seven columns for each state are stored in different rows (the upper half of each csv file) from the second seven columns for each state (the lower half of each csv file). 
Cut the dataframe apart and specify the indices for both.
Set the column names for each now that they're separate, since the columns change names halfway through the larger sheet. Lastly, with the dataframes still split, remove the empty column from "bottom half" and the columns on renovated colonies, since they won't be used.

In [88]:
bottom_half = data2021.iloc[288:]
upper_half = data2021.iloc[:287]

bottom_half.set_index(['State', 'year', 'quarter'])
upper_half.set_index(['State', 'year', 'quarter'])

first_columns = {'January 1': 'Starting colonies', 'Unnamed: 4': 'Maximum colonies', 'Unnamed: 5': 'Lost colonies', 'Unnamed: 6': 'Percent lost', 'Unnamed: 7': 'Added colonies', 'Unnamed: 8': 'Renovated colonies', 'Unnamed: 9': 'Percent renovated'}
second_columns = {'January 1': 'Varroa mites', 'Unnamed: 4': 'Other pests', 'Unnamed: 5': 'Diseases', 'Unnamed: 6': 'Pesticides', 'Unnamed: 7': 'Other', 'Unnamed: 8': 'Unknown', 'Unnamed: 9': 'empty'}

upper_half.rename(first_columns, axis=1, inplace=True)
bottom_half.rename(second_columns, axis=1, inplace=True)

upper_half.drop(['Renovated colonies', 'Percent renovated'], inplace=True, axis=1)
bottom_half.drop('empty', inplace=True, axis=1)

upper_half.to_csv('upper_half.csv')
bottom_half.to_csv('bottom_half.csv')

/Users/tgreen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
/Users/tgreen/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Now that the two datasets have indices and correct column labels, join them together in one set.

In [89]:
# merged_data2021 = pd.merge_ordered(upper_half, bottom_half, on=['State', 'year', 'quarter'])
# merged_data2021.to_csv('merged2021.csv')