In [41]:
import pandas as pd
import numpy as np

Import raw data.
Clean up blank lines and lines containing descriptions, legend, etc.

In [42]:
data2021 = pd.read_csv("raw_data/hcny_all_tables_2021.csv", skiprows=4)
data2020 = pd.read_csv("raw_data/hcny_all_tables_2020.csv", skiprows=4)
data2019 = pd.read_csv("raw_data/hcny_all_tables_2019.csv", skiprows=4)
data2018 = pd.read_csv("raw_data/hcny_all_tables_2018.csv", skiprows=4)
data2017 = pd.read_csv("raw_data/hcny_all_tables_2017.csv", skiprows=4)
data2016 = pd.read_csv("raw_data/hcny_all_tables_2016.csv", skiprows=4)

data2021 = data2021[data2021['State'].str.contains('Represents zero') == False]
data2021 = data2021[data2021['State'].str.contains('Less than half') == False]
data2021 = data2021[data2021['State'].str.contains('Tracheal mites') == False]
data2021 = data2021[data2021['State'].str.contains('Includes American') == False]
data2021 = data2021[data2021['State'].str.contains('Includes weather') == False]
data2021 = data2021[data2021['State'].str.contains('Includes data') == False]
data2021 = data2021[data2021['State'].str.contains('Honey Bee Colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Colony Health') == False]
data2021 = data2021[data2021['State'].str.contains('Percent of colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Not applicable') == False]
data2021 = data2021[data2021['State'].str.contains('plus all colonies') == False]
data2021 = data2021[data2021['State'].str.contains('Percent lost') == False]
data2021 = data2021[data2021['State'].str.contains('Defined as any') == False]
data2021 = data2021[data2021['State'].str.contains('Percent renovated') == False]
data2021 = data2021[data2021['State'].str.contains('Colonies, Maximum') == False]
data2021 = data2021[data2021['State'].str.contains('Colonies Lost') == False]
data2021 = data2021[data2021['State'].str.contains('Loss reported') == False]

Drop superfluous index columns.

Get rid of rows with a NaN state.

Set State column as index.

In [43]:
data2021.drop(columns=['5', 'h'], axis=1, inplace=True)
data2021 = data2021[data2021['State'].notna()]
data2021.set_index('State')

,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
State,,,,,,,
Alabama,5500,7000,410,6,1900,780,11
Arizona,29000,31000,8500,27,3000,120,(Z)
Arkansas,16500,16500,1600,10,1800,30,(Z)
California,1350000,1710000,230000,13,240000,66000,4
Colorado,4500,13000,670,5,4000,500,4
...,...,...,...,...,...,...,...
Other States 4/,60.3,(Z),(Z),4.8,5.9,5.0,NaN
United States,48.7,12.8,5.5,12.3,11.3,3.9,NaN
Year,January-March,April-June,July-September,October-December,NaN,NaN,NaN
2020,105240,48270,78190,116910,NaN,NaN,NaN
2021,76930,49620,NaN,NaN,NaN,NaN,NaN

It turns out that each csv file has the full set of the previous year's data and then the first two quarters of the year in the file name. Assuming that the most recent version is the most recently collected and has the most up to date data, we'll keep the most recently collected version.

So, deleting the rows that are the first two quarters of the incomplete year of data, except for the 2021 datasheet, since that will have all the 2020 data, and the first two quarters (all that exists) of the 2021 data. 

The data has to be filled in chunks since the first six columns for all the states are listed for each quarter for 2020, then the first six columns for 2021 in the next set of rows, then the last six columns for all states for 2021, then the last six for 2021.

In [44]:
data2021.insert(1, 'year', np.nan)
last_year_values = {'year': '2020'}
this_year_values = {'year': '2021'}
data2021.fillna(value=last_year_values, limit=191, inplace=True)
data2021.fillna(value=this_year_values, limit=96, inplace=True)
data2021.fillna(value=last_year_values, limit=192, inplace=True)
data2021.fillna(value=this_year_values, limit=96, inplace=True)

data2021.insert(2, 'quarter', np.nan)
values_jan = {'quarter': 'Jan-Mar'}
values_apr = {'quarter': 'Apr-Jun'}
values_jul = {'quarter': 'Jul-Sep'}
values_oct = {'quarter': 'Oct-Dec'}
data2021.fillna(value=values_jan, limit=47, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)
data2021.fillna(value=values_jul, limit=48, inplace=True)
data2021.fillna(value=values_oct, limit=48, inplace=True)
data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)

data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)
data2021.fillna(value=values_jul, limit=48, inplace=True)
data2021.fillna(value=values_oct, limit=48, inplace=True)
data2021.fillna(value=values_jan, limit=48, inplace=True)
data2021.fillna(value=values_apr, limit=48, inplace=True)

# Set multi-index, partly because doing all the above somehow restored the default numeric index
data2021.set_index(['State', 'year', 'quarter'])

,,,January 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
State,year,quarter,,,,,,,
Alabama,2020,Jan-Mar,5500,7000,410,6,1900,780,11
Arizona,2020,Jan-Mar,29000,31000,8500,27,3000,120,(Z)
Arkansas,2020,Jan-Mar,16500,16500,1600,10,1800,30,(Z)
California,2020,Jan-Mar,1350000,1710000,230000,13,240000,66000,4
Colorado,2020,Jan-Mar,4500,13000,670,5,4000,500,4
...,...,...,...,...,...,...,...,...,...
Other States 4/,2021,Apr-Jun,60.3,(Z),(Z),4.8,5.9,5.0,NaN
United States,2021,Apr-Jun,48.7,12.8,5.5,12.3,11.3,3.9,NaN
Year,NaN,NaN,January-March,April-June,July-September,October-December,NaN,NaN,NaN
2020,NaN,NaN,105240,48270,78190,116910,NaN,NaN,NaN
2021,NaN,NaN,76930,49620,NaN,NaN,NaN,NaN,NaN

The first six columns for each state are stored in different rows from the second six columns for a state. 
Cut the dataframe apart and join those so that they're all in one row.

In [45]:
bottom_half = data2021.iloc[288:]
data2021 = data2021.iloc[:287]
bottom_half.set_index(['State', 'year', 'quarter'])
data2021.set_index(['State', 'year', 'quarter'])

print(data2021.shape)
print(bottom_half.shape)

# This is where it messes up: What I want is a Dataframe that has a shape of (290, 20) 
# with the information from the 'bottom_half' dataframe is attached as columns 11-20 

# I also don't know why that numeric index keeps coming back when I've set the index to be the state column
# I assumed that it had to the State column to be able to join the two together

# When I try concat, it makes a dataframe that has a shape of (580, 10), attaching the 'bottom_half' dataframe
# after the first one rather than expanding the columns
# When I try join, it gets the columns, but they're all NaN 

# merged_data2021 = pd.concat([data2021, bottom_half], axis=1)
merged_data2021 = data2021.join(bottom_half, lsuffix='_left', rsuffix='_right')
print(merged_data2021)
merged_data2021.to_csv('merged2021.csv')
print(merged_data2021.shape)

(287, 10)
(290, 10)
          State_left year_left quarter_left January 1_left Unnamed: 4_left  \
4            Alabama      2020      Jan-Mar           5500            7000
5            Arizona      2020      Jan-Mar          29000           31000
6           Arkansas      2020      Jan-Mar          16500           16500
7         California      2020      Jan-Mar        1350000         1710000
8           Colorado      2020      Jan-Mar           4500           13000
..               ...       ...          ...            ...             ...
403    West Virginia      2021      Apr-Jun           8000            9000
404        Wisconsin      2021      Apr-Jun          42000           57000
405          Wyoming      2021      Apr-Jun          13500           30000
407  Other States 5/      2021      Apr-Jun           5970            8410
409    United States      2021      Apr-Jun        2855070             (X)

    Unnamed: 5_left Unnamed: 6_left Unnamed: 7_left Unnamed: 8_left  \
4               410               6            1900             780
5              8500              27            3000             120
6              1600              10            1800              30
7            230000              13          240000           66000
8               670               5            4000             500
..              ...             ...             ...             ...
403             170               2            1900             390
404            2200               4            9000            7500
405            3400              11            7500            4900
407             140               2            2890            3100
409          255860               9          677690          480380

    Unnamed: 9_left State_right year_right quarter_right January 1_right  \
4                11         NaN        NaN           NaN             NaN
5               (Z)         NaN        NaN           NaN             NaN
6               (Z)         NaN        NaN           NaN             NaN
7                 4         NaN        NaN           NaN             NaN
8                 4         NaN        NaN           NaN             NaN
..              ...         ...        ...           ...             ...
403               4         NaN        NaN           NaN             NaN
404              13         NaN        NaN           NaN             NaN
405              16         NaN        NaN           NaN             NaN
407              37         NaN        NaN           NaN             NaN
409              17         NaN        NaN           NaN             NaN

    Unnamed: 4_right Unnamed: 5_right Unnamed: 6_right Unnamed: 7_right  \
4                NaN              NaN              NaN              NaN
5                NaN              NaN              NaN              NaN
6                NaN              NaN              NaN              NaN
7                NaN              NaN              NaN              NaN
8                NaN              NaN              NaN              NaN
..               ...              ...              ...              ...
403              NaN              NaN              NaN              NaN
404              NaN              NaN              NaN              NaN
405              NaN              NaN              NaN              NaN
407              NaN              NaN              NaN              NaN
409              NaN              NaN              NaN              NaN

    Unnamed: 8_right Unnamed: 9_right
4                NaN              NaN
5                NaN              NaN
6                NaN              NaN
7                NaN              NaN
8                NaN              NaN
..               ...              ...
403              NaN              NaN
404              NaN              NaN
405              NaN              NaN
407              NaN              NaN
409              NaN              NaN

[287 rows x 20 columns]
(287, 20)